# Autotools/Make
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
depcomp
build/unix/m4/libtool.m4
build/unix/m4/lt*.m4
.deps
.dirstamp

# Clang/GCC
*.o
*.out
build/unix/pedalevite*
build/unix/mfxtest*

# MSVC
*.dll
*.sdf
*.suo
*.opensdf
*.user
[Dd]ebug*/
[Rr]elease*/
Win32*/
Win64*/
build/win/.vs/

# Freetype lib
build/win/fontgen/freetype/

# Tests
build/unix/results/
**/test/results/

# GIMP
art/*.h

# KiCAD
doc/v1/exported/
doc/v1/pcb-v1_1/*-backup*
doc/v1/pcb*/*.bak
doc/v1/pcb*/*-bak
doc/v1/pcb*/*.bck
doc/boards/*/*.bak
doc/boards/*/*-bak
doc/boards/*/*.bck
doc/boards/*/*-rescue.lib
doc/boards/*/*-backup*

# Backup files
*~

# LibreCAD
\#*.dxf

# Peak files
*.pkf

# Pedalevite settings and output
etc/config/current*
etc/config/*.xz
var/

# Private
legacy/
doc/internal/
src/test/samples/more/
