*.dll
*.sdf
*.suo
*.user
*.rar
*.opensdf
*.o
*.out
*.dxf~
*.pkf
[Dd]ebug*/
[Rr]elease*/
Win32*/
Win64*/
[Rr]eleases/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.dirstamp
build/unix/pedalevite
**/test/results/
art/*.h
etc/config/current
legacy/
doc/exported/
doc/pcb*/*.bak
doc/pcb*/*-bak
doc/pcb*/*.bck
