*.dll
*.sdf
*.suo
*.user
*.rar
*.opensdf
*.o
*.out
*~
*.pkf
[Dd]ebug*/
[Rr]elease*/
Win32*/
Win64*/
[Rr]eleases/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.dirstamp
build/unix/pedalevite
build/unix/mfxtest
build/unix/results/
build/unix/m4/libtool.m4
build/unix/m4/lt*.m4
**/test/results/
art/*.h
etc/config/current*
var/
legacy/
doc/internal/
doc/v1/exported/
doc/v1/pcb*/*.bak
doc/v1/pcb*/*-bak
doc/v1/pcb*/*.bck
doc/boards/*/*.bak
doc/boards/*/*-bak
doc/boards/*/*.bck
doc/boards/*/*-rescue.lib
doc/boards/*/rescue-backup
build/win/.vs/
build/win/fontgen/freetype/
